<mat-checkbox>
  <!-- <span [class.strike-linethrough]="true">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti tempora odio temporibus! Aut facere harum, nobis iste ad veniam enim quibusdam, sed maxime nostrum distinctio. Ut dolore eum adipisci pariatur.
  </span> -->
  <span [appStrikeThrough]="checkedVal">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ex atque harum eos eligendi, praesentium suscipit eius nesciunt iure animi consequatur, natus culpa in architecto, nemo fugit hic. Eius, nostrum.
  </span>
</mat-checkbox>
