<h1>{{ title$ | async }}</h1>
<router-outlet />
<pre>
  {{ boardItems | json }}
</pre>
<div class="container">
  <div class="row" cdkDropListGroup>
    @for(boardName of boardNames; track boardName) {
      <div
        class="col"
        cdkDropList
        [cdkDropListData]="boardItems[boardName].data"
        (cdkDropListDropped)="dropTask($event)"
      >
        <h3>{{ boardName | uppercase }}</h3>
        <ul class="list">
          @for(info of boardItems[boardName].data; track info) {
            <li class="task-item" cdkDrag>
              {{ info }}
            </li>
          }
        </ul>
      </div>
    }
  </div>
</div>
