.mat-sidenav-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.mat-sidenav-container {
  min-height: 100vh;
}

.nav-list-text {
  margin: 0;
}

.mat-nav-list {
  width: 300px;
}
