.mat-sidenav-container {
  min-height: 100vh;
}

.mat-sidenav-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  &--show {
    width: 300px;

    .theme-toggle {
      display: flex;
      justify-content: center;
    }
  }
}

.nav-list-text {
  margin: 0;
}

.theme-toggle {
  margin: 0 0 10px 10px;
}

.show-hide {
  &-container {
    align-items: center;
    display: flex;
    margin: 0 0 10px 10px;
  }

  &-text {
    padding-left: 10px;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 50px 40px;
}

.main {
  padding: 20px;
}
