<mat-sidenav-container class="mat-sidenav-container" autosize>
  <mat-sidenav mode="side" opened>
    <div class="mat-sidenav-side" [class.mat-sidenav-side--show]="isExpanded">
      <mat-nav-list>
        @for(menuItem of menuItems; track menuItem) {
          <mat-list-item>
            <mat-icon
              matListItemIcon
            >
              {{ menuItem.icon }}
            </mat-icon>
            @if(isExpanded) {
              <p
                class="nav-list-text"
                matListItemTitle
              >
                {{ menuItem.text }}
              </p>
            }
          </mat-list-item>
        }
      </mat-nav-list>
      <mat-nav-list>
        <div class="theme-toggle">
          <mat-icon>light_mode</mat-icon>
          <mat-slide-toggle (change)="toggleTheme($event)"></mat-slide-toggle>
          <mat-icon>dark_mode</mat-icon>
        </div>
        <div class="show-hide-container">
          <button mat-mini-fab (click)="isExpanded = !isExpanded">
            @if(!isExpanded) {
              <mat-icon aria-label="Menu">visibility</mat-icon>
            } @else {
              <mat-icon aria-label="Menu">visibility_off</mat-icon>
            }
          </button>
          @if(isExpanded) {
            <span class="show-hide-text">Hide menu</span>
          }
        </div>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <div>Platform Lunch</div>
      <div>
        <button
          mat-flat-button
          color="primary"
          (click)="openAddTaskDialog()"
        >
          Add New Task
        </button>
      </div>
    </mat-toolbar>
    <div class="main">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


