<div class="container">
  <div class="row" cdkDropListGroup>
    @for(boardName of boardNames; track boardName) {
      <mat-card
        class="col"
        cdkDropList
        [cdkDropListData]="boardItems[boardName].data"
        (cdkDropListDropped)="dragDropTask($event)"
      >
        <mat-card-header>
          <mat-card-title>
            <div class="card-title">
              <span class="card-title__circle" [style.background-color]="boardItems[boardName].color"></span>
              {{ boardItems[boardName].name | uppercase }}
              ({{ boardItems[boardName].data.length }})
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="task-list">
          @for(info of boardItems[boardName].data; track info) {
            <div class="task-item" cdkDrag>
              <app-task-item [task]="info"></app-task-item>
            </div>
          }
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>
