<mat-dialog-content>
  <form [formGroup]="taskForm">
    <section class="new-task">
      <h6>{{ task.title }}</h6>
      @if(task.description) {
        <p>{{ task.description }}</p>
      }
    </section>
    @if (subtasksControl.controls.length) {
      <section class="subtasks" formArrayName="subtasks">
        <div>
          <h6>Subtasks ({{ totalSubTaskDone }} of {{ subtasksControl.controls.length }})</h6>
          @for(subtask of subtasksControl.controls; track $index) {
            <div class="subtasks__item-container" [formGroupName]="$index">
              <!-- TODO: Pending conver this to an attribuet directive -->
              <mat-checkbox formControlName="isDone">
                <span [class.strike-linethrough]="getSubTaskControlValue($index, 'isDone')">
                  {{ getSubTaskControlValue($index, 'title') }}
                </span>
              </mat-checkbox>
            </div>
          }
        </div>
      </section>
    }
    <section class="task-status">
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          @for(status of taskStatus | keyvalue; track $index) {
            <mat-option [value]="status.value">{{ status.key }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </section>
  </form>
</mat-dialog-content>
